body {
	background-color: #f0f0f0;
}

.sidebar {
	width: 20%;
	background: #f5f5f5;
	padding: 10px;
}

.canvas {
	width: 800px;
	height: 500px;
	background: #fff;
	border: 1px dashed #ccc;
	position: relative;
}

.item {
	position: absolute;
	padding: 5px;
	background: #eee;
	border: 1px solid #ddd;
}