name: initial-workflow
on: 
  push: 
    branches:
      - github-actions
jobs:
  first-workflow:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '22.16.0'
      - name: Install dependencies
        run: npm install --legacy-peer-deps
      - name: Install php
        run: sudo apt-get install -y php
      - name: Run php
        run: php -v
      - name: Run composer
        run: composer install
      - name: Install WP CLI
        run: |
          curl -O https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli.phar
          php wp-cli.phar --info
          chmod +x wp-cli.phar
          sudo mv wp-cli.phar /usr/local/bin/wp
      - name: Install WP CLI dist-archive package
        run: wp package install wp-cli/dist-archive-command
      - name: Verify WP CLI installation
        run: wp --info
      - name: Extract version number
        id: get_version
        run: |
          version=$(grep -Po 'Version:\s*\K[\d.]+(?:-[\w]+)?' triggermail.php)
          echo "VERSION_NUMBER=$version" >> $GITHUB_ENV
      - name: Build Plugin
        run: |
          npm run build
          ls -la
          pwd
          pwd
          ls -la
