name: initial-workflow
on: 
  push: 
    branches:
      - github-actions
jobs:
  first-workflow:
    runs-on: ubuntu-latest

    steps:
      - name: First step
        run: echo "Hello world!"
      - name: Second step
        run: | 
          echo "Hello GitHub Actions! ${{ secrets.SVN_USERNAME }}"
          echo "Hello GitHub Actions! ${{ secrets.SVN_PASSWORD }}"
